@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Project colors : 
    Blue : #0065FC
    LightGrey : #F2F2F2
    Marine :  #0065FC
 */

html{
    font-family: 'Raleway', sans-serif;
}

h1{
    margin-left: 55px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

h2{
    margin-left: 55px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

header{
    height : 100px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-left: 55px;
    margin-right: 20px;
}

#logoHeader{
    height: 19px;
}

.navbar{ 
    height: 116%;
    display : flex;
    flex-basis: 20%;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    text-align: center;
    margin-right: 50px;
}

.navbarSelected{
    border-top: solid #0065FC 2px;
    padding: 30px;
}

.navbarNotSelected{
    padding: 30px;    
}

.navbarNotSelected:hover{
    cursor: pointer;
    border-top: solid #0065FC 2px;
}

.navLinkSelected{
    color:  #0065FC;
}

.navLinkNotSelected{
    color : black;
}

.navLinkNotSelected:hover{
        color: #0065FC;
}

.navLinkNotSelected:active{
        color: #0065FC;
}


.searchForm{
    display: flex;
    width: 425px;
    flex-direction: row;
    margin-left: 55px;
    height: 49px;
    margin-top: 25px;
}

.searchIcon{
    background-color: #F2F2F2;
    height: 50px;
    width: 49px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.input{
    border-color: transparent;
    font-family: 'Raleway', sans-serif
}

.cityDiv{
    height: 49px;
    width: 220px;
}

#citySearch{
    height: 46px;
    width: 228px;
    margin-top: -1;
    border-left: transparent;
    border-right: transparent;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
}

::placeholder {
    color: black;
    opacity: 1; /* Firefox */
    padding-left: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
  }

  :focus::placeholder{
    color: transparent;
  }

#searchButton{
    border-color: transparent;
    background-color: #0065FC;
    color: white;
    height: 49px;
    margin-top: 1px;
    margin-left: 2px;
    cursor: pointer;
}

.searchButtonDiv {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 150px;
    margin-left: 10px;
}

#searchButton{
    background-color:  #0065FC;
    color: white;
    font-size: 18px;
    font-style: normal;
    width: 200px;
    line-height: 21px;
    text-align: center;
    font-weight: 700;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

