@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Project colors : 
    Blue : #0065FC
 */

html{
    font-family: 'Raleway', sans-serif;
}

header{
    height : 100px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 20px;
}

#logoHeader{
    height: 19px;
}

.navbar{ 
    height: 116%;
    display : flex;
    flex-basis: 20%;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    text-align: center;
    margin-right: 50px;
}

.navbarSelected{
    border-top: solid #0065FC 2px;
    padding: 30px;
}

.navbarNotSelected{
    padding: 30px;
}

.navLinkSelected{
    color:  #0065FC;
}

.navLinkNotSelected{
    color : black;
}